{% extends 'todo/main.html' %}

{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello {{ request.user|title }}</h1>
        <h3>You have <i>{{ count }} incomplete task{{ count|pluralize:'s' }}</i></h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'Logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'Login' %}">Login</a>
{% endif %}
</div>


<div id="search-add-wrapper">
    <form action="" method="get">
        <input type="text" name="search-area" placeholder="Search Tasks ">
        <input class="button" type="submit" value="Search Task">
    </form>
    <a id="add-link" href="{% url 'Create' %}">&#x2b;</a>
</div>

<div class="card-bdy">

<div class="task-items-wrapper">
    {% for Task in Tasks %}
    <div class="task-wrapper">
        {% if Task.complete %}
        <div class="task-title">
            <div class="task-complete-icon"></div>
            <i><s><a href="{% url 'Update' Task.id%}">{{ Task }}</a></s></i>
        </div>
        <a class="delete-link" href="{% url 'Delete' Task.id %}">&#215;</a>

        {% else %}
        <div class="task-title">
            <div class="task-incomplete-icon"></div>
            <a href="{% url 'Update' Task.id%}">{{ Task }}</a>
        </div>
        <a class="delete-link" href="{% url 'Delete' Task.id %}">&#215;</a>
        {% endif %}

    </div>
    {% empty %}
    <h3>No items in list</h3>
    <a href="{% url 'Create' %}">Add New Item</a>
    {% endfor %}

</div>

</div>
<!-- <table>
    <tr>
        <th>Items</th>
    </tr>
    {% for Task_ in Tasks %}
    <tr>
        <td>{{ Task_.id }}  -  {{Task_.title}}</td>
        <td><a href="{% url 'Detail'  Task_.id %}">View</a></td>
        <td><a href="{% url 'Create' %}">Add</a></td>
        <td><a href="{% url 'Update' Task_.id %}">update</a></td>
        <td><a href="{% url 'Delete' Task_.id %}">Delete</a></td>

    </tr>
    {% empty %}
    <h3>No items in list</h3>
    <a href="{% url 'Create' %}">Add New Item</a>
    {% endfor %}
</table> -->
{% endblock content %}